@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@theme{
    --primary-font: 'Red Hat Display','san serif';
    --elipse: linear-gradient(black 50%, transparent 50%);
    --secondary-color: #609987;
    --primary-color: #192c26;
    --removeable: #939393;
    --quicksand: '"Quicksand", sans-serif';
    --shadow-custom: 0px 1px 2px 0px rgba(0, 0, 0, 0.30), 0px 1px 3px 1px rgba(0, 0, 0, 0.15)
}

.primary-font{
    font-family: var(--primary-font);
}

.hover\:bg-secondary:hover {
    background-color: #609987; 
    color: white
}


.elipse{
    background: var(--elipse);
    rotate: 320deg;
}

.bg-secondary{
    background-color: var(--secondary-color);
}
.text-secondary{
    color: var(--secondary-color);
}

.primary-color{
    background-color: var(--primary-color);
    color: var(--primary-color)
} 

.removable{
    color: var(--removeable);
}

.profile-font{
    font-family: var(--quicksand);
}

.shadow-custom{
    box-shadow: var(--shadow-custom);
}